@model System.Collections.Generic.IEnumerable<ListarCondutorViewModel>

@{
    ViewBag.Title = "Listar Condutores";
}
<h1 class="fs-5 mb-3">Condutores</h1>
<a class="btn btn-dark" href="/condutor/inserir">Inserir novo condutor</a>
<div class="container d-flex">
    @foreach (var item in Model)
    {
        <div class="card col-2 m-3 p-2">
            <div class="card-content"><strong>Marca: </strong>@item.Id</div>
            <div class="card-content"><strong>Nome: </strong>@item.Nome</div>
            <div class="card-content"><strong>CPF: </strong>@item.CPF</div>
            <div class="card-content"><strong>CNH: </strong>@item.CNH</div>
            <div class="card-content"><strong>Cliente: </strong>@item.ClienteId</div>
            
            <a class="btn btn-dark btn-sm mb-2" href="/condutor/detalhes/@item.Id">Detalhes</a> 
            <a class="btn btn-dark btn-sm mb-2" href="/condutor/editar/@item.Id">Editar</a> 
            <a class="btn btn-dark btn-sm mb-2" href="/condutor/excluir/@item.Id">Excluir</a>
        </div>
    }
</div>