@model DetalhesAluguelViewModel

@{
    ViewBag.Title = "Detalhes do aluguel";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-4 m-3 p-4 fs-4">
            <div class="card-content">ID: <strong>@Model.Id</strong></div>
            <div class="card-content">Condutor: <strong>@Model.CondutorId</strong></div>
            <div class="card-content">Automovel: <strong>@Model.AutomovelId</strong></div>
            <div class="card-content">Saida: <strong>@Model.DataSaida.ToShortDateString()</strong></div>
            <div class="card-content">Retorno: <strong>@Model.DataRetorno.ToShortDateString()</strong></div>
            <div class="card-content">Plano: <strong>@Model.PlanoId</strong></div>
            <div class="card-content">Taxa: <strong>@Model.TaxaId</strong></div>
            <div class="card-content">Concluido: <strong>@Model.Concluido</strong></div>
            <div class="card-content">Valor Total: <strong>@Model.ValorTotal</strong></div>

            <a class="btn btn-dark btn-sm mb-2 mt-2 fs-5" href="/aluguel/editar/@Model.Id">Editar</a>
            <a class="btn btn-dark btn-sm mb-2 fs-5" href="/aluguel/excluir/@Model.Id">Excluir</a>
        </div>

    </div>
</div>