@model IEnumerable<ListarAluguelViewModel>

@{
    ViewBag.Title = "Listar Alugueis";
}

<h1 class="fs-5 mb-3">Alugueis</h1>

<a class="btn btn-dark" href="/aluguel/inserir">Novo aluguel</a>

<div class="container d-flex">
    @foreach (var item in Model)
    {
        <div class="card col-2 m-3 p-2">
            <div class="card-content"><strong>Id: </strong>@item.Id</div>
            <div class="card-content"><strong>Condutor: </strong>@item.Condutor</div>
            <div class="card-content"><strong>Veiculo: </strong>@item.Automovel</div>
            <div class="card-content"><strong>Plano: </strong>@item.Plano</div>
            <div class="card-content"><strong>Saida: </strong>@item.DataSaida.ToShortDateString()</div>
            <div class="card-content"><strong>Retorno: </strong>@item.DataRetorno.ToShortDateString()</div>
            <div class="card-content"><strong>Valor Total: </strong>@item.ValorTotal</div>
            
            <a class="btn btn-dark btn-sm mb-2" href="/aluguel/detalhes/@item.Id">Detalhes</a> 
            <a class="btn btn-dark btn-sm mb-2" href="/aluguel/editar/@item.Id">Editar</a> 
            <a class="btn btn-dark btn-sm mb-2" href="/aluguel/excluir/@item.Id">Excluir</a>
        </div>
    }
</div>

